*{
    box-sizing: border-box;
    font-family: 'serif', 'Times New Roman', Times;
}

main, header{
    display: flex;
}

h1, h2{
    width: 50%;
    height: fit-content;
    /* border: 1px solid black; */
    padding-left: 2%;
    font-weight: unset;
    font-size: x-large;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-bottom: 3px;
}

article{
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
    padding-left: 2%;
}

#input-box{
    background-color: #f2f3f5;
    padding: 15px;
}

.output-box{
    background-color: #f2f3f5;
    padding-top: 6px;
    padding-bottom: 8px;
    text-align: center;
}

#Jenis-Kelamin{
    margin-top: unset;
    margin-bottom: 5px;
}

.Usia-Tahun{
    margin-bottom: unset;
}

#Berat-Badan-kg{
    margin-top: 25px;
    margin-bottom: unset;
}

.img-input-text{
    border: 1px solid rgb(118, 118, 118);
    border-top: #f2f3f5;
}

.img-input-text img{
    max-width: 20px;
    margin: auto;
}

#submit-data{
    color: #f2f3f5;
    background-color: #5cc0de;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid #5cc0de;
    margin-top: 35px;
}

#submit-data:hover{
    box-shadow: 3px 3px 7px #305763;
}

#submit-data:active{
    box-shadow: unset;
}

button[type="button"]{
    color: #f2f3f5;
    background-color: #5cc0de;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #5cc0de;
    margin-top: 10px;
}

button[type="button"]:hover{
    box-shadow: 3px 3px 7px #305763;
}

button[type="button"]:active{
    box-shadow: unset;
}

#reset-input{
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
    margin-top: 35px;
}

#reset-all{
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
    margin-top: 10px;
}

#reset-input:hover, #reset-all:hover{
    box-shadow: 3px 3px 7px #305763;
}

#reset-input:active, #reset-all:active{
    box-shadow: unset;
}

input[type="number"]{
    width: 95%;
}

.output{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.consult{
    /* text-decoration: none; */
    color: #f2f3f5;
    background-color: #5cc0de;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #5cc0de;
    margin-top: 1px;
    margin-bottom: 1px;
}

.consult:hover{
    box-shadow: 3px 3px 7px #305763;
}

.consult:active{
    box-shadow: unset;
}

.smallest-text{
    font-size: 13px;
    list-style-type: none;
}

ul{
    padding-left: unset;
    margin-top: unset;
}

footer{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 9px;
    background-color: #f2f3f5;
}

footer p{
    margin-bottom: 9px;
}

figure{
    margin: unset;
}

#app-store{
    height: 50px;
    margin: 1px;
}

#google-play{
    height: 50px;
    margin: 1px;
}

#h1_main, #h2_main{
    padding-left: 0px;
}

@media screen and (max-width: 500px) {
    header, main{
        display: block;
    }

    article{
        width: 100%;
        padding-left: 0px;
    }
}